.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.site-layout{
  /* background-image: url(../assets/baga2.jpeg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  
}

  [data-theme="dark"] .site-layout .site-layout-background {
    background: #0000;
  }

  .selected{
    background-color: yellow;
  }
  .contentStyle {
    color: '#fff';
    text-align: 'center';
    background: #0000;
  }
  