.homelogo {
  height: 60px;
  background-color: #001539;
  color: #E67E22;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  padding: 15px 0 0 0;
  letter-spacing: 5px;

}

.site-layout {
  /* background-image: url(../assets/back2.jpg); */
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  /* background-color: #43457a; */
  /* background-color:#363636; */
  -webkit-font-smoothing: antialiased;


}

.menu {
  font-size: 15px;
}

.site-layout .site-layout-background {
  align-items: center;
  background: #0000;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #0000;
}